<div class='project-info fixed-180'>
  <a class="client-name" href="/clients/{{client.id}}">
    {{client.name}}
  </a>
  <a href="/projects/{{project.id}}">
    {{project.name}}
  </a>
</div>
<div class="chart-container flex">
  <svg class="user-chart"></svg>
</div>
<div class="totals fixed-60"></div>
