%script#project_view{type: 'text/html'}
  %td.client-name
    {{#isNew}}
    %input{type: 'text', name: 'client[name]'}
    {{/isNew}}
  
    {{^isNew}}
    {{clientName}}
    {{/isNew}}
  
  %td.new-project= link_to_function('+', '', class: 'add-new-project')
  %td.project-name
    {{#isNew}}
    %input{type: 'text', name: 'project[name]'}
    {{/isNew}}
  
    {{^isNew}}
    {{ name }}
    {{/isNew}}
  
  %td.months-and-weeks{colspan: 2}