%script#project_view{type: 'text/html'}
  .client-name
    {{#clientNameInput}}
    .ui-widget
      %input.client-select{type: 'text', name: "client[name]"}
    {{/clientNameInput}}
  
    {{^clientNameInput}}
    %a{href: '/clients/{{ clientId }}'} {{clientName}}
    {{/clientNameInput}}
  
  .new-project= link_to_function('+', '', class: 'add-new-project')
  .project-name
    {{#isNew}}
    %input{type: 'text', name: 'project[name]'}
    {{/isNew}}
  
    {{^isNew}}
    %a{href: "/projects/{{ projectId }}"}{{ name }}
    {{/isNew}}
  
  .months-and-weeks{colspan: 2}