%script#project_view{type: 'text/html'}
  .client-name
    {{#clientNameInput}}
    %input{type: 'text', name: 'client[name]'}
    {{/clientNameInput}}
  
    {{^clientNameInput}}
    {{clientName}}
    {{/clientNameInput}}
  
  .new-project= link_to_function('+', '', class: 'add-new-project')
  .project-name
    {{#isNew}}
    %input{type: 'text', name: 'project[name]'}
    {{/isNew}}
  
    {{^isNew}}
    {{ name }}
    {{/isNew}}
  
  .months-and-weeks{colspan: 2}