%script#user_view{type: "text/html"}
  .user-info
    .user-select
      %img{src: "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@target_user.email.downcase)}"}
      .email= @target_user.email
    
    .date-pagination
      %a.previous{href: '#', 'data-change-page' => 'previous'} &larr;

      %ul.week-hour-counter
        
      %a.next{href: '#', 'data-change-page' => 'next'} &rarr;
      
  .project-list
    %section.headers
      .client-name= t('.client')
      .new-project &nbsp;
      .project-name= t('.project')
      .months-and-weeks

