%script#user_view{type: "text/html"}
  .project-list
    .headers
      .client-name= t('.client')
      .new-project &nbsp;
      .project-name= t('.project')
      .months-and-weeks
      .total= t('.total')
      .diff-remove-project