%script#user_view{type: "text/html"}
  .user-select
    = render partial: 'shared/user-info', locals: {user: @target_user}
    
    .date-pagination
      %a.previous{href: '#', 'data-change-page' => 'previous'} &larr;

      %ul.week-hour-counter
        
      %a.next{href: '#', 'data-change-page' => 'next'} &rarr;
      
  .project-list
    %section.headers
      .client-name= t('.client')
      .new-project &nbsp;
      .project-name= t('.project')
      .months-and-weeks

