%script#user_view{type: "text/html"}
  %table.project-list
    %thead
      %tr
        %th.client-name= t('.client')
        %th.new-project &nbsp;
        %th.project-name= t('.project')
        %th.months-and-weeks= months_and_weeks_header
        %th.total= t('.total')
        %th.diff-remove-project