%script#work_week_header{type: 'text/html'}
  %section
    -# month names
    .plan-actual
      .row-label &nbsp;
      {{#monthNames}}
      %div {{ name }}
      {{/monthNames}}
    
    -# wN
    .plan-actual
      .row-label &nbsp;
      {{#weeks}}
      %div {{ name }}
      {{/weeks}}