%script#work_week_list_view{type: 'text/html'}
  .row-filler
    =link_to "&rarr;".html_safe, "#"

  .plan-actual
    .row-label Plan
    {{#yearsAndCweeks}}
    %div
      :erb
        <input type="text" size="2" data-cweek="{{ mweek }}" data-year="{{ year }}" data-cid="{{ cid }}" data-attribute="estimated_hours" value="{{ estimated_hours }}" data-work-week-input />
    {{/yearsAndCweeks}}

    .total.estimated {{estimatedTotal}}
    .diff-remove-project
  
  {{#projectExists}}
  .plan-actual
    .row-label Actual
    {{#yearsAndCweeks}}
    %div
      {{#weekHasPassed}}
      :erb
        <input type="text" size="2" data-cweek="{{ mweek }}" data-year="{{ year }}" data-cid="{{ cid }}" data-attribute="actual_hours" value="{{ actual_hours }}" data-work-week-input />
      {{/weekHasPassed}}
    {{/yearsAndCweeks}}
    
    .total.actual {{actualTotal}}
    .diff-remove-project
      {{#isRemoveable}}
      = link_to_function('&times;'.html_safe, '', class: 'remove-project')
      {{/isRemoveable}}
      
      %span.delta
        {{#hasDelta}}
        &#916; {{ delta }}
        {{/hasDelta}}
      
      
  {{/projectExists}}
