%script#work_week_header{type: 'text/html'}
  %table
    %tbody
      -# month names
      %tr
        %td.plan-acutal &nbsp;
        {{#monthNames}}
        %td {{ name }}
        {{/monthNames}}
      
      -# wN
      %tr
        %td.plan-acutal &nbsp;
        {{#weeks}}
        %td {{ name }}
        {{/weeks}}