%script#work_week_header{type: 'text/html'}
  %section
    -# month names
    .plan-actual
      .row-label &nbsp;
      {{#monthNames}}
      %div {{ name }}
      {{/monthNames}}
      .total
      .diff-remove-project
    
    -# wN
    .plan-actual
      .row-label &nbsp;
      {{#weeks}}
      %div {{ name }}
      {{/weeks}}
      .total= t('.total')
      .diff-remove-project