Hi Juhan,
\
User #{[@registration_info.first_name, @registration_info.last_name].join(" ")} was just added to #{@registration_info.company_name}'s StaffPlan.
\
The associated email address is #{@registration_info.email_address}
\
The StaffPlan Team,
http://www.staffplan.com
