Hi #{@user.first_name}

To reset your password, please follow the link below and reset your password from there.

#{edit_password_reset_url(id: @user.registration_token)}

If you didn't request a password reset, simply ignore this email.

The StaffPlan Team
http://www.staffplan.com
