<div class="cweeks-and-years"><div>{{{staffplans_show_calendarYears dates}}}</div>{{{staffplans_show_calendarMonths dates}}}</div>
<div class="cweeks-and-years"><div></div>{{{staffplans_show_calendarWeeks dates}}}</div>
