- updated = updated || false
%li.client-assignment{class: ('updated' if updated)}
  - work_week = assignment.work_weeks.where(cweek: @date.cweek, year: @date.year).first
  - url = work_week.nil? ? assignment_work_weeks_path(assignment, format: :mobile) : assignment_work_week_path(assignment, work_week, format: :mobile)
  - method = work_week.nil? ? :post : :put
  
  = form_tag(url, method: method, remote: true, class: 'work-week-actual') do
    %input{type: :hidden, name: "work_week[cweek]", value: @date.cweek}
    %input{type: :hidden, name: "work_week[year]", value: @date.year}
    %input{type: :number, id: dom_id(assignment, 'work-week'), name: 'work_week[actual_hours]', value: work_week.try(:actual_hours), class: 'submit-on-change'}
    %label{for: dom_id(assignment, 'work-week')}
      = assignment.project.name
    %span.estimated-hours
      (
      - if work_week.nil?
        0
      - else
        = work_week.estimated_hours.blank? ? '0' : work_week.estimated_hours
        - unless work_week.estimated_hours.blank? || work_week.actual_hours.blank?
          == &#916; #{work_week.actual_hours - work_week.estimated_hours}
      )
