%script{type: "text/json", id: "bootstrap"}
  :erb
    { "user": <%= @target_user.staff_plan_json(current_user.current_company.id) %>
    , "clients": <%= current_user.current_company.clients_as_json %>
    , "projects": <%= current_user.current_company.projects_as_json %>
    }
</script>

= content_for :javascript do
  :javascript
    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());
      StaffPlan.initialize(data);
      window.router.staffplanShow();
    });