- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('projects')
  
%section
  %header
    %h2
      = image_tag UserDecorator.new(@user).gravatar
      = @user.full_name

  = render 'form'

