%script{type: "text/json", id: "bootstrap"}
  :erb
    { 
    "users": <%= current_user.current_company.users_json %>, 
    "clients": <%= current_user.current_company.clients_as_json %>, 
    "currentCompany": <%= current_user.current_company.self_as_json %>, 
    "projects": <%= current_user.current_company.projects_as_json %>,
    "currentUser": <%= current_user.self_as_json %>
    }

= content_for :javascript do
  :javascript
    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());
      StaffPlan.initialize(data);
    });
