%script{type: "text/json", id: "bootstrap"}
  :erb
    { 
    "userCompanies": <%= current_user.decorate.companies_as_json %>,
    "currentCompanyId": <%= current_user.current_company_id %>,
    "currentUserId": <%= current_user.id %>
    }

= content_for :javascript do
  :javascript
    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());
      StaffPlan.initialize(data);
    });
