<div class='header grid-row padded'>
  <div class="name-or-client"><h4>Staffing</h4></div>
  <div class="grid-row-element flex date-range-target date-paginator" id="interval-width-target"></div>
</div>
<div class="users" id="user-list">No users for date range!</div>
<div class="client" id="client-list">No clients for date range!</div>
