- content_for(:stylesheet_includes) do
  = stylesheet_link_tag('projects')
  
%section
  %header
    %h2 Add Project

  = render 'form'

- content_for(:javascript_includes) do
  = javascript_include_tag('projects/new')
