<div class="btn-group">
  <a class="btn btn-mini{{#unless byWorkload}} btn-inverse{{/unless}}" title="Sort by name" data-key="field" data-value="name" data-bypass><i class="icon-user{{#unless byWorkload}} icon-white{{/unless}}"></i></a>
  <a class="btn btn-mini{{#if byWorkload}} btn-inverse{{/if}}" title="Sort by workload" data-key="field" data-value="workload" data-bypass><i class="icon-time{{#if byWorkload}} icon-white{{/if}}"></i></a>
  <a class="btn btn-mini" title="Toggle sort order" data-key="order" data-value="{{#if sortASC}}desc{{else}}asc{{/if}}" data-bypass><i class="{{#if sortASC}}icon-chevron-up{{else}}icon-chevron-down{{/if}}"></i></a>
</div>
