<div class="grid-row-element fixed-180 sexy">
  {{#if showClientInput}}
    <input type="text" class="client-name-input input-medium" data-model="Client" data-attribute="name" data-trigger-save placeholder="Client Name" />
  {{/if}}
</div>
<div class="grid-row-element fixed-180 sexy">
  <input type="text" class="project-name-input input-medium" data-model="Project" data-attribute="name" data-trigger-save placeholder="Project Name" />
</div>
<div class="grid-row-element flex">
  <input type="button" class='btn btn-mini' data-trigger-save value="Save" />
</div>
