<div class='estimated-hours assignment-totals'>{{hours.estimated}}</div>
<div class='actual-hours assignment-totals'>{{hours.actual}} <span class='hours-delta'>&#916;{{hours_delta hours.delta}}</span></div>
