@mixin formatted_flash {
  .flash_errors {
    width: 100%;
    @include display-box;
    @include box-align("center");
    @include box-orient("vertical");
    padding: 10px;
    background-color: #aa2200;
    color: white;
    font-size: 14px;
    font-weight: bold;
    .error-block {
      margin-top: 8px;
    }
    ul {
      padding-left: 10px;
      list-style: circle;
    }
  }
}
