//\\//\\//\\//\\//\\
//     Forms      \\
//\\//\\//\\//\\//\\
form {
  .input {
    position: relative;
    padding: 12px 15px;
    overflow: hidden;
    @include transition(background-color 0.2s ease-out);
    & + .input {
      border-top: 1px solid #e0e0e0;
    }
    label {
      display: inline-block;
      min-width: 15%;
      text-transform: capitalize;
    }
    &.new-client {
      margin-left: 16px;
    }
  }
  .actions {
    padding-top: 15px;
  }
  .user-activation {
    label.info {
      margin-left: 16px;
      font-size: 8pt;
      font-style: italic;
    }
  }
}

input[type=text] {
  @include appearance(none);
}

input[type=text], input[type=number] {
  border: 1px solid #e0e0e0;
  height: 25px;
  @include transition(all 0.2s ease-out);
  @include box-sizing(border-box);
  &:focus {
    border-color: darken(#e0e0e0, 20%);
    outline: none;
  }
}

input[type=submit], .button-minimal {
  @include appearance(none);
  display: inline-block;
  padding: 6px;
  border: solid #cccccc 1px;
  background: transparent;
  color: #424242;
  font: inherit;
  cursor: pointer;
  @include border-radius(3px);
  @include box-shadow(0 1px 0 white);
  @include transition(all 0.2s ease-out);
  &:hover {
    border-color: #aaaaaa;
    text-decoration: none;
  }
}
