@import compass
@import compass/reset
@import compass/css3/text-shadow
@import compass/css3/box
body
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  +text-shadow

.flash_errors
  width: 100%
  +display-box
  +box-align('center')
  +box-orient('vertical')
  padding: 10px
  background-color: #a20
  color: white
  font-size: 14px
  font-weight: bold
  
  .error-block
    margin-top: 8px
    
  ul
    padding-left: 10px
    list-style: circle
section
  padding: 16px
  h1
    font-size: 24px
    font-weight: bold
  div.instructions
    margin-top: 32px
  form
    input#email
      width: 240px 
      margin-top: 8px
