@import compass
@import compass/reset
@import compass/css3/text-shadow
@import compass/css3/box
@import _flash_mixin

body
  font-family: "Open Sans", Helvetica, Arial, sans-serif
  +text-shadow
  +formatted_flash
  section.main
    section
      width: 256px
      margin: 15px auto 0
      padding: 15px
      h1
        font-size: 22px
        padding: 20px 0
      form
        .user
          margin-bottom: 16px
        .field
          label
            display: block
            font-size: 14px
          input
            font-size: 16px
            width: 100%
            margin: 2px 0 2px 0
            +border-radius
          .disclaimer
            font-size: 7pt
        .submit
          input[type="submit"]
            border: 1px #444444 solid

@import _flash
