@import "compass/css3";
@import "compass/utilities/general/float";

//\\//\\//\\//\\//\\
//      Init      \\
//\\//\\//\\//\\//\\

$font-size: 13px;
$line-height: 1.3 * $font-size;
$color: #424242;
$color-light: #9f9f9f;

@import "mixins";

//\\//\\//\\//\\//\\
//     Default    \\
//\\//\\//\\//\\//\\
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #eeeeee;
  color: $color;
  font-family: MyriadPro-Regular, "Myriad Pro Regular", MyriadPro, "Myriad Pro", Calibri, sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  
  a {
    @include transition(color 0.2s ease-out);
    color: #505050;
    text-decoration: none;
    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      color: lighten(#505050, 20%);
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
}

svg.user-chart {
  rect {
    &.actuals {
      fill: gray
    }
    &.estimates {
      fill: #5E9B69
    }
    &.proposed {
      fill: #7EBA8D
    }
  }
}

@import "forms";

ul, ol, dl, p, form {
  margin-bottom: 15px;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}
form.form-horizontal span.validation-errors {
  color: #B94A48;
  font-weight: bold;
  text-decoration: italic;
  ul {
    margin-left: 0px;
    li {
      margin-left: 4px;
      list-style-type: none;
    }
  }
}
//\\//\\//\\//\\//\\
//     Header     \\
//\\//\\//\\//\\//\\

// Nav sprites
$icons-spacing: 20px;
@import "icons/*.png";

select.year-filter {
  height: 24px;
  line-height: 24px;
  margin-bottom: 0px;
  width: auto
}

body {
  .staffplan-show header {
    width: 97.4%;
    margin: 0px 20px;
  }
  
  header {
    margin: 0;
    padding: 0;
    line-height: 24px;
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #EEE;
    z-index: 999;
  
    & > * {
      padding: 0 20px;
    }
  
    & > :last-child {
      border-bottom: 1px solid #cccccc;
      @include box-shadow(0px 1px 4px #ddd);
    }
  
    .inner {
      border-bottom: 1px solid #cccccc;
      @include box-shadow(0 1px 0 white);
      position: relative;
      margin: 0 auto;
      padding: 0 10px;
      width: 100%;
      @include box-sizing(border-box);
      height: 35px;
      line-height: 35px;
    }
  
    ul {
      display: inline;
      margin: 0;
      padding: 0;
      list-style-type: none;
    
      li#nav-my-staff-plan a {
        @include icons-sprite(chart);
      }
      li#nav-all-staff a {
        @include icons-sprite(people);
      }
      li#nav-clients a {
        @include icons-sprite(factory);
      }
      li#nav-projects a {
        @include icons-sprite(cube);
      }
    
      li {
        display: inline-block;
        margin-left: 5px;
        & + li {
          margin-left: 20px;
        }
        a {
          display: inline-block;
          padding-left: 16px + 6px;
          height: 24px;
          line-height: 24px;
        }
        
        &.year-filter {
          a {
            line-height: 26px;
          }
          span.caret {
            margin-top: 11px;
          }
          
          ul {
            z-index: 9999;
            
            li {
              display: block;
            }
          }
        }
      }
    }
    .right {
      position: absolute;
      right: 15px;
      bottom: 0;
      @include inline-bullets;
    }
  }
}

//\\//\\//\\//\\//\\
//      Main      \\
//\\//\\//\\//\\//\\
section.main {
  margin: 0;
  width: 100%;
  min-width: 100%;
  padding: 0px 20px 10px 20px;
  
  @include box-sizing(border-box);
  div.hidden {
    display: none;
  }   
  section {
    > header {
      padding-top: 30px;
      margin-bottom: 10px;
      
      h2 {
        display: inline-block;
        margin-right: 25px;
        line-height: 35px;
        font-size: 18px;
      }
      
      > a {
        display: inline-block;
        padding: 6px;
        border: solid #cccccc 1px;
        @include border-radius(3px);
        @include box-shadow(0 1px 0 white);
        &:hover {
          border-color: #aaaaaa;
          text-decoration: none;
        }
      }
    }
    h3 {
      padding: 10px 0 5px;
      font-size: 16px;
    }
  }
}

.tall section.main {
  padding-top: 260px;
}

.short section.main {
  padding-top: 100px;
}
 
.current-week-highlight {
  color: rgba(50, 50, 50, 0.8);
  fill: rgba(50, 50, 50, 0.8);
  text-shadow: 1px 0px rgba(40, 40, 40, 0.8);
}
div.list div.project-list-item {
  width: 100%;
}
div.list-item {
  margin-top: 32px;
  margin-left: 25px; // Align with ul.slick
  
  & > * {
    overflow: hidden;
  }
}

span.month-name {
  display: inline-block;
  width: 35px;
  margin-right: 2px;
  height: 25px;
  text-align: center;

}
  
span.week-number {
  display: inline-block;
  width: 35px;
  margin-right: 2px;
  height: 25px;
  text-align: center;
}

.client-name {
  width: 180px;
}

.project-name {
  width: 150px;
}

body#clients.show {
  section.main {
    div.content {
      div.client-info {
        margin-bottom: 16px
      }
    }
  }
}
  
section.main {

  section.work-weeks input, div.row-label {
    display: inline-block;
    width: 35px;
    margin-right: 2px;
    text-align: center;
    height: 25px
  }
  
  ul.slick {
    list-style-type: none;
    &.no-margin {
      margin: 0 0 10px 0px
    }
    li {
      position: relative;
      padding: 12px 15px;
      overflow: hidden;
      @include transition(background-color 0.2s ease-out);
      
      section.work-weeks input, div.row-label {
        display: inline-block;
        width: 35px;
        margin-right: 2px;
        text-align: center;
        height: 25px
      }
      & + li {
        border-top: 1px solid #e0e0e0;
      }
      .controls {
        position: absolute;
        right: -200px;
        bottom: 12px;
        @include transition(right 0.2s ease-out);
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
      &:hover {
        background-color: #f7f7f7;
        .controls {
          right: 15px;
        }
      }
    }
    div.actions {
      padding: 16px;
    }
  }
  .info {
    .active {
      padding-left: 16px + 6px;
      line-height: 18px;
      background: transparent image-url("icons/inactive.png") left top no-repeat;
      &[data-active] {
        background-image: image-url("icons/active.png");
      }
    }
    ul {
      list-style-type: none;
      li {
        margin: 5px 0;
        img {
          margin-right: 5px;
          padding: 1px;
          width: 15px;
          @include box-shadow(0 0 2px hsla(0, 0%, 0%, 0.6));
          @include box-sizing(border-box);
          background-color: white;
          vertical-align: text-bottom;
        }
      }
    }
  }
}

//\\//\\//\\//\\//\\
//     Footer     \\
//\\//\\//\\//\\//\\
footer {
  padding: 15px 0;
  text-align: center;
  @include inline-bullets;
}

//\\//\\//\\//\\//\\
//     Misc.      \\
//\\//\\//\\//\\//\\
.clear {
  clear: both;
  float: none;
}

.user-info {
  display: inline-block;
  //margin-right: 25px;
  line-height: 35px;
  font-size: 18px;
  
  img {
    margin-right: 5px;
    padding: 2px;
    width: 35px;
    @include box-shadow(0 0 2px hsla(0, 0%, 0%, 0.6));
    @include box-sizing(border-box);
    background-color: white;
    vertical-align: text-bottom;
  }
  span.last-updated {
    font-size: 12px;
  }
  .email {
    color: $color-light;
  }
  &.small {
    line-height: $line-height;
    font-size: $font-size;
    img {
      padding: 1px;
      width: 15px;
    }
  }
}

#user-select {
  @include next-and-previous;
  
  .chart-totals-view {
    @include week-hour-counter;
    
    ul {
      display: inline-block;
    }
  }
}

.list {
  .list-item, .date-paginator {
    .client-name {
      font-weight: bold;
    }
    
    > * {
      display: inline-block;
    }
    
    .ellipsis {
      @include ellipsis;
    }
  }
}

.position-fixed {
  position: fixed;
  z-index: 1000;
  background-color: #EEE;
}

.fixed-60 {
  width: 60px;
}

.fixed-80 {
  width: 80px;
}
    
.fixed-180 {
  width: 180px;
}
    
.fixed-360 {
  width: 360px;
}
    
.flex {
  @include box-flex(1);
}
    
.box {
  @include display-box;
}

.chart-wrapper {
  display: block;
  padding-left: 25px;
  width: 100%;
}
.chart-wrapper > div {
  display: inline-block;
}
.margin-left-45 {
  margin-left: 45px;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-left-60 {
  margin-left: 60px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-left-35 {
  margin-left: 35px;
}
.margin-left-84 {
  margin-left: 84px;
}

.date-paginator {
  width: 100%;
  position: relative;
  padding-left: 25px;
  
  > * {
    display: inline-block;
  }
  
  .next, .previous {
    position: absolute;
    width: 35px;
    height: 17px;
    text-indent: -9999px;
    top: 0px;
  }
  
  .next {
    right: 90px;
    @include arrows-sprite(forward);
  }
  
  .previous {
    left: 180px;
    @include arrows-sprite(back);
  }
}

.staffplan-show .date-paginator {
  top: initial;
  padding-top: initial;
  padding-left: initial;
  width: 100%;
  
  .week-numbers, .month-names {
    margin-left: 60px; }
  .next {
    top: 5px;
    right: 20px; }
  .previous {
    left: 35px;
    top: 5px; }
}

.grid-row {
  @include display-box;
  @include box-orient("horizontal");
  
  &.header {
    padding: 6px 15px;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-left: none;
    background-color: #f7f7f7;
    
    .title span {
      display: inline-block;
      height: 24px;
      line-height: 24px;
         
    }
  }
  
  &.flex {
    min-height: 34px;
    line-height: 34px;
  }
  &.padded {
    padding: 8px 15px;
  }
}

.grid-row-element {
  white-space: nowrap;
  position: relative;
  
  &.client-name-and-project-name {
    padding-right: 10px;
  }
    
  .assignment-totals {
    height: 35px;
    padding-top: 5px;
  }
    
  &.padding-top-left {
    padding: 5px 0 0 5px;
  }
    
  .show-first-row {
    display: none;
      
    &:first-child {
      display: initial;
    }
  }
    
  .cweeks-and-years {
    div {
      display: inline-block;
      width: 35px;
      height: 15px;
      margin: 0 5px 0 0;
      padding: 0;
      text-align: center;
    }
  }
}
  
input.estimated-actual, .row-label {
  display: inline-block;
  width: 35px;
  margin-right: 2px;
  text-align: center;
  height: 25px;
  position: relative;
  z-index: 20;
    
  &[type="number"] {
    padding: 0;
  }
}
  
.row-label {
  color: #9F9F9F;
}

.assignment-row {
  min-height: 75px;
}

.client {
  &.zebra {
    &[data-client-id]:nth-child(2n+1) {
      border: 1px solid #e0e0e0;
      border-right: none;
      border-left: none;
      background-color: #f7f7f7;
    }
  }
}

.row-filler {
  @include row-filler;
}

.quick-jump {
  margin-bottom: 0;
}

#flash {
  width: 100%;
  div {
    text-align: center;
    padding: 10px 0;
    &.alert, &.error, &.errors {
      border-top: 1px solid red;
      border-bottom: 1px solid red;
      border-left: none;
      border-right: none;
      background-color: pink;
    }
    &.message, &.notice {
      border-top: 1px solid #22d12d;
      border-bottom: 1px solid #22d12d;
      border-left: none;
      border-right: none;
      background-color: #86b88a;
    }
  }
}

.btn-group > .btn-mini {
  font-size: 14px; }

.assignment-actions-target > a {
  display: block;
}