@import "compass/reset"
@import "compass/css3/text-shadow"
@import "compass/css3/box-shadow"
@import "compass/css3/border-radius"
@import "compass/utilities/general/float"
          
body
  background: #fff
  font-family: Helvetica, Arial
  color: #424242
  margin: 0
  padding: 0
  font-size: 12px
  +text-shadow
  
  a
    text-decoration: none
    color: #505050
    
    &:hover
      text-decoration: underline
      
  .clear
    clear: both
    float: none
  
  section.main
    width: 1100px
    min-width: 1100px
    margin: 10px auto 0
    
    header
      position: relative
      margin: 0 10px
      padding: 2px 10px
      background: #ebebeb
      background: #D0D0D0
      border-top: 1px solid #999
      border-bottom: 1px solid #999
      line-height: 24px
      
      ul
        display: inline
        margin: 0
        padding: 0
        list-style-type: none
        li
          display: inline-block
          margin-left: 5px
          a
            display: inline-block
            height: 24px
            line-height: 24px
          & + li
            margin-left: 20px

          &#nav-my-staff-plan a
            padding-left: 16px + 6px
            background: transparent image-url("icons/chart.png") left center no-repeat
      
          &#nav-all-staff a
            padding-left: 16px + 6px
            background: transparent image-url("icons/people.png") left center no-repeat
      
          &#nav-clients a
            padding-left: 16px + 6px
            background: transparent image-url("icons/factory.png") left center no-repeat
      
          &#nav-projects a
            padding-left: 16px + 6px
            background: transparent image-url("icons/cube.png") left center no-repeat
      
      .right
        position: absolute
        right: 15px
        bottom: 2px
    
    .content
      padding: 10px
      min-height: 400px
  
    footer
      font-size: 14px
      text-align: right
      padding: 5px 10px

@import "_flash"
