@import "compass/css3";
@import "compass/utilities/general/float";

@import "init";
@import "mixins";

//\\//\\//\\//\\//\\
//     Default    \\
//\\//\\//\\//\\//\\
body {
  margin: 0;
  padding: 0;
  background: #eeeeee;
  color: $color;
  font-family: MyriadPro-Regular, "Myriad Pro Regular", MyriadPro, "Myriad Pro", Calibri, sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  a {
    @include transition(color 0.2s ease-out);
    color: #505050;
    text-decoration: none;
    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      color: lighten(#505050, 20%);
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
}

#user-chart {
  svg {
    margin-left: 2px;
    rect.bar {
      fill: teal
    }
  }
}

@import "forms";

ul, ol, dl, p, form {
  margin-bottom: 15px;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

//\\//\\//\\//\\//\\
//     Header     \\
//\\//\\//\\//\\//\\
body > header {
  margin: 0;
  padding: 6px 0;
  line-height: 24px;
  border-bottom: 1px solid #cccccc;
  @include box-shadow(0 1px 0 white);
  .inner {
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    @include box-sizing(border-box);
  }
  ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      margin-left: 5px;
      & + li {
        margin-left: 20px;
      }
      a {
        display: inline-block;
        padding-left: 16px + 6px;
        height: 24px;
        line-height: 24px;
      }
    }
  }
  .right {
    position: absolute;
    right: 15px;
    bottom: 0;
    @include inline-bullets;
  }
}

// Nav sprites
$icons-spacing: 20px;

@import "icons/*.png";

body > header {
  ul {
    li#nav-my-staff-plan a {
      @include icons-sprite(chart);
    }
    li#nav-all-staff a {
      @include icons-sprite(people);
    }
    li#nav-clients a {
      @include icons-sprite(factory);
    }
    li#nav-projects a {
      @include icons-sprite(cube);
    }
  }
}

body#staffplans {
  section.main {
    .project-list {
      .headers {
        .client-name span {
          @include icons-sprite(factory-flat);
        }
        .project-name span {
          @include icons-sprite(cube-flat);
        }
      }
    }
  }
}

//\\//\\//\\//\\//\\
//      Main      \\
//\\//\\//\\//\\//\\
section.main {
  margin: 0;
  width: 100%;
  min-width: 100%;
  padding: 10px 20px;
  
  @include box-sizing(border-box);
  .content {
    padding-right: 0;
    padding-left: 0;
  }
  section {
    > header {
      padding-top: 30px;
      margin-bottom: 10px;
      h2 {
        display: inline-block;
        margin-right: 25px;
        line-height: 35px;
        font-size: 18px;
      }
      > a {
        display: inline-block;
        padding: 6px;
        border: solid #cccccc 1px;
        @include border-radius(3px);
        @include box-shadow(0 1px 0 white);
        &:hover {
          border-color: #aaaaaa;
          text-decoration: none;
        }
      }
    }
    h3 {
      padding: 10px 0 5px;
      font-size: 16px;
    }
  }
}

body > header .inner {
  width: 1100px;
  min-width: 1100px;
}

section.main {
  margin: 0 auto;
  .content {
    padding: 10px;
    min-height: 400px;
  }
}

.client-name {
  width: 180px;
}

.project-name {
  width: 150px;
}

body#clients.show {
  section.main {
    div.content {
      div.client-info {
        margin-bottom: 16px
      }
    }
  }
}
  
#staffplans.index, #staffplans.inactive, #users, #clients, #projects, #companies {
  section.main {
    //section {
    ul {
      list-style-type: none;
      li {
        position: relative;
        padding: 12px 15px;
        overflow: hidden;
        @include transition(background-color 0.2s ease-out);
        &.user-list-item {
          padding: 4px 15px
        }
        & + li {
          border-top: 1px solid #e0e0e0;
        }
        .controls {
          position: absolute;
          right: -200px;
          bottom: 12px;
          @include transition(right 0.2s ease-out);
          a {
            &:hover {
              text-decoration: none;
            }
          }
          //@include inline-bullets;
        }
        &:hover {
          background-color: #f7f7f7;
          .controls {
            right: 15px;
          }
        }
      }
      div.actions {
        padding: 16px;
      }
    }
    .info {
      .active {
        padding-left: 16px + 6px;
        line-height: 18px;
        background: transparent image-url("icons/inactive.png") left top no-repeat;
        &[data-active] {
          background-image: image-url("icons/active.png");
        }
      }
      ul {
        list-style-type: none;
        li {
          margin: 5px 0;
          // padding: 5px 0
          img {
            margin-right: 5px;
            padding: 1px;
            width: 15px;
            @include box-shadow(0 0 2px hsla(0, 0%, 0%, 0.6));
            @include box-sizing(border-box);
            background-color: white;
            vertical-align: text-bottom;
          }
        }
      }
    }
    //}
  }
}
body#staffplans.index, body#users.index {
  section.main {
    div.actions {
      padding-left: 40px
    }
  }
}
#projects {
  ul {
    li {
      .client-name {
        padding-right: 5px;
        font-weight: bold;
      }
    }
  }
}

//\\//\\//\\//\\//\\
//     Footer     \\
//\\//\\//\\//\\//\\
footer {
  padding: 15px 0;
  text-align: center;
  @include inline-bullets;
}

//\\//\\//\\//\\//\\
//     Misc.      \\
//\\//\\//\\//\\//\\
.clear {
  clear: both;
  float: none;
}

.user-info {
  display: inline-block;
  margin-right: 25px;
  line-height: 35px;
  font-size: 18px;
  img {
    margin-right: 5px;
    padding: 2px;
    width: 35px;
    @include box-shadow(0 0 2px hsla(0, 0%, 0%, 0.6));
    @include box-sizing(border-box);
    background-color: white;
    vertical-align: text-bottom;
  }
  span.last-updated {
    font-size: 12px;
  }
  .email {
    color: $color-light;
  }
  &.small {
    line-height: $line-height;
    font-size: $font-size;
    img {
      padding: 1px;
      width: 15px;
    }
  }
}

#user-select {
  @include next-and-previous;
  
  .chart-totals-view {
    @include week-hour-counter;
  }
}

.grid-row {
  @include display-box;
  @include box-orient("horizontal");
  overflow: hidden;
  
  &.header {
    padding: 6px 15px;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-left: none;
    background-color: #f7f7f7;
    
    .title span {
      display: inline-block;
      height: 24px;
      line-height: 24px;
         
    }
  }
  
  &.padded {
    padding: 8px 15px;
  }
  
  .grid-row-element {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    
    &.padding-top-left {
      padding: 5px 0 0 5px;
    }
    
    &.fixed-180 {
      width: 180px;
    }
    
    &.fixed-360 {
      width: 360px;
    }
    
    &.flex {
      @include box-flex(1);
    }
    
    .box {
      @include display-box;
    }
    
    &.fixed-80 {
      background-color: blue;
      width: 80px;
    }
    
    .show-first-row {
      display: none;
      
      &:first-child {
        display: initial;
      }
    }
    
    .client-or-project-name {
      display: inline-block;
      margin-top: 2px;
    }
    
    .cweeks-and-years {
      div {
        display: inline-block;
        width: 35px;
        height: 15px;
        margin: 0 5px 0 0;
        padding: 0;
        text-align: center;
      }
    }
    
//    .plus-with-text {
//      span.text {
//        position: absolute;
//        top: 3px;
//        right: -200px;
//        @include transition(right 0.2s ease-out);
//      }
//      
//      &:hover {
//        span.text {
//          right: 10px;
//        }
//      }
//    }
  }
  
  input.estimated-actual, .row-label {
    display: inline-block;
    width: 35px;
    margin-right: 2px;
    text-align: center;
    height: 25px;
  }
  
  .row-label {
    color: #9F9F9F;
  }
}

.assignment-row {
  min-height: 75px;
}

.client {
  &.zebra {
    &[data-client-id]:nth-child(2n+1) {
      border: 1px solid #e0e0e0;
      border-right: none;
      border-left: none;
      background-color: #f7f7f7;
    }
  }
}

.row-filler {
  @include row-filler;
}

@import "_flash";
