@import "compass/reset"
@import "compass/css3/text-shadow"
@import "compass/css3/box-shadow"
@import "compass/css3/border-radius"
@import "compass/utilities/general/float"
          
body
  background: #fff
  font-family: Helvetica, Arial
  color: #424242
  margin: 0
  padding: 0
  font-size: 12px
  +text-shadow
  
  a
    text-decoration: none
    color: #505050
    
    &:hover
      text-decoration: underline
      
  .clear
    clear: both
    float: none
  
  section.main
    width: 1100px
    min-width: 1100px
    margin: 10px auto 0
    
    header
      position: relative
      margin: 0 10px
      padding: 10px
      background: #ebebeb
      border-top: 1px solid #d7d7d7
      border-bottom: 1px solid #d7d7d7
      
      ul
        display: inline
        margin: 0
        padding: 0
        list-style-type: none
        li
          display: inline-block
          margin-left: 5px
          & + li
            margin-left: 15px
      
      .right
        position: absolute
        right: 15px
        bottom: 10px
    
    .content
      padding: 10px
      min-height: 400px
  
    footer
      font-size: 14px
      text-align: right
      padding: 5px 10px

@import "_flash"
