@import compass
@import compass/reset
@import compass/css3/text-shadow

body
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  +text-shadow
  
  section.main
    width: 1000px
    margin: auto
    
    section
      width: 200px
      margin: 150px auto 0
      padding: 15px
      
      h1
        font-size: 22px
        padding: 20px 0
      
      form
        .field
          label
            display: block
        
          input
            font-size: 16px
            width: 100%
            margin: 10px 0
            +border-radius

@import _flash