@import "compass/css3"
@import "compass/typography/text/ellipsis"

@import init

//\\//\\//\\//\\//\\
//   Arrow Icons  \\
//\\//\\//\\//\\//\\
$arrows-spacing: 20px
@import "arrows/*.png"

=next-and-previous
  .next, .previous
    display: inline-block
    width: 10px
    height: 17px
    text-indent: -9999px
  
  .next
    @include arrows-sprite(forward)
    
  .previous
    @include arrows-sprite(back)
    
//\\//\\//\\//\\//\\//\\
//  Week Hour Counter \\
//\\//\\//\\//\\//\\//\\
=week-hour-counter
  margin: 0
  padding: 0
  list-style-type: none
  font-size: $font-size
  
  li
    position: relative
    display: inline-block
    margin: 0 3px
    padding: 0
    width: 32px
    height: 10px
    background: #5E9B69
    +box-sizing(border-box)
    vertical-align: bottom
    +transition(all .2s ease-out)
    
    span
      position: absolute
      display: block
      top: -15px
      width: 32px
      text-align: center
      
    &.passed
      background: #D6D6D6
      
=staffplan-columns
  > *
    display: inline-block
    +ellipsis
    
    &.client-name, &.project-name
      padding-top: 15px
      vertical-align: top
      -moz-mask-image:       -moz-linear-gradient(left, #000, #000 80%, hsla(0, 0%, 0%, 0))
      -o-mask-image:           -o-linear-gradient(left, #000, #000 80%, hsla(0, 0%, 0%, 0))
      -webkit-mask-image: -webkit-linear-gradient(left, #000, #000 80%, hsla(0, 0%, 0%, 0))
      mask-image:                 linear-gradient(left, #000, #000 80%, hsla(0, 0%, 0%, 0))

    &.client-name
      width: 180px
      
      select
        width: 150px
    
    &.project-name
      width: 150px
      
    &.new-project, &.plan-actual, &.total, &.diff-remove-project
      width: 35px
      
    &.months-and-weeks
      width: 675px
      
      section
        .plan-actual
          display: block
          
          .row-label
            visibility: hidden
            color: #9F9F9F
          
          > *
            display: inline-block
            width: 35px
          
          div
            input
              width: 32px
              text-align: center
        
//\\//\\//\\//\\//\\
//      Main      \\
//\\//\\//\\//\\//\\
body#staffplans.index
  section.main
    .content
      header
        .from-to
          float: right
          
      .user-header
        position: relative
        margin-bottom: 15px
        padding: 10px 0
        min-height: 30px
        border: 1px solid #E0E0E0
        background-color: #F7F7F7
        
        +next-and-previous
        
        & > *
          display: inline-block
        
        .weeks
          position: absolute
          left: 373px
          width: 600px
          
          .month
            display: block
            width: 41px
            +box-sizing(border-box)

          tr:nth-child(2)
            .month
              color: $color-light
          
      ul.users
        > li
          & > *
            display: inline-block
            
          .user-info
            width: 345px
            padding-left: 25px

          .week-hour-counter
            +week-hour-counter


//\\//\\//\\//\\//\\
//      Show      \\
//\\//\\//\\//\\//\\
body#staffplans.show
  section.main
    .content
      .user-select
        position: relative
        height: 75px
        
        .user-info
          position: absolute
          bottom: 0
          width: 390px
          line-height: 35px
          padding-left: 15px
          display: inline-block
          
          > *
            display: inline
            
          .email
            padding-left: 5px
            font-size: 18px
            line-height: 35px
        
        .date-pagination
          position: absolute
          left: 414px
          bottom: 10px
          display: block
          width: 650px
          
          > *
            display: inline
            
          +next-and-previous
            
          .week-hour-counter
            +week-hour-counter
            
      .project-list
        .headers
          +staffplan-columns
          
          padding: 6px 15px
          border: 1px solid #E0E0E0
          border-right: none
          border-left: none
          background-color: #F7F7F7

          .client-name span
            display: inline-block
            padding-left: 16px + 6px
            height: 24px
            line-height: 24px
            // background: transparent image-url("icons/factory-flat.png") left center no-repeat
          
          .project-name span
            display: inline-block
            padding-left: 16px + 6px
            height: 24px
            line-height: 24px
            // background: transparent image-url("icons/cube-flat.png") left center no-repeat
          
          .months-and-weeks
            width: 660px
            
            section
              .plan-actual
                & + .plan-actual
                  margin-top: 6px
                  color: $color-light
                .row-label
                  width: 40px
            
        section
          padding-top: 6px
          padding-bottom: 6px

          .project:nth-child(1)
            .months-and-weeks
              .work-weeks
                .plan-actual
                  .row-label
                    visibility: visible
                
          .project
            +staffplan-columns
            padding: 2px 15px
            height: 75px
            
            .client-name
              visibility: hidden
              
            &:first-child
              .client-name
                visibility: visible
                
            .new-project
              visibility: hidden
              
            &:last-child
              .new-project
                visibility: visible
              
            .plan-actual
              height: 35px
                      
          &[data-client-id]:nth-child(2n+1)
            border: 1px solid #E0E0E0
            border-right: none
            border-left: none
            background-color: #F7F7F7

// Row Filler
.row-filler
  position: absolute
  display: block
  height: 25px
  line-height: 25px
  border: 1px solid darken(#E0E0E0, 20%)
  border-top: none
  background: #FFF
  text-align: center

