@import "compass/typography/text/ellipsis"

=staffplan-columns
  > *
    display: inline-block
    +ellipsis
    
    &.client-name
      max-width: 10%
      min-width: 10%
    
    &.project-name
      max-width: 15%
      min-width: 15%
      
    &.new-project, &.plan-actual, &.total, &.diff-remove-project
      width: 35px
      
    &.months-and-weeks
      width: 71%
      
      section
        .plan-actual
          display: block
          
          > *
            display: inline-block
            width: 5%
        
    &.plan-actual
      color: #999
      
    &.plan-actual
      .row-label
        display: inline-block
        width: 35px
        
body#staffplans
  &.show
    section.main
      .content
        .headers
          +staffplan-columns
            
        section
          .project
            +staffplan-columns
            padding: 2px 15px
            
          &:nth-child(2n)
            background-color: #F5F5F5